ion-icon {
  margin-left: 1rem;
  font-size: 36px;
}

ion-buttons {

  ion-button {
    text-align: center;

    ion-icon {
      font-size: 24px;
    }
  }
}

ion-content {

  p,
  h4 {
    margin: .5rem 1rem;
    display: block;
  }

  h4 {
    margin-top: 1rem;
  }

  pre {
    /* css-3 */
    white-space: pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -moz-pre-wrap;
    /* Opera 4-6 */
    white-space: -pre-wrap;
    /* Opera 7 */
    white-space: -o-pre-wrap;
    /* Internet Explorer 5.5+ */
    word-wrap: break-word;

    margin: 1rem 1.5rem;
    padding: 0 1rem;
    background-color: var(--ion-color-step-50);
    border-radius: .5rem;

    code {
      font-family: monospace;
    }
  }
}
